In [16]:
import numpy as np
import pandas as pd

In [ ]:
x = [np.nan, 1, 2, 3, 4, 5,]
y = pd.Series([x[np.random.randint(0,6)] for i in range(20)])

In [ ]:
x

In [ ]:
y

In [ ]:
print(y.isnull().sum())

In [ ]:
a = y.dropna()

In [ ]:
a

In [ ]:
type(a)

In [ ]:
b =y.mean()

In [ ]:
b

In [ ]:
y.fillna(y.mean())

In [ ]:
y.ffill() # forward

In [ ]:
y[0] = np.nan

In [ ]:
y

In [ ]:
y[-2] =np.nan
y

In [ ]:
y.bfill()

In [46]:
sales_data = {
 '연도':[2015, 2016, 2017, 2018, 2019, 2020],
 '판매량':[103, 70, 130, 160, 190, 230],
 '매출':[500000, 300000, 400000, 550000, 700000, 680000],
 '순이익':[370000, 190000, 300000, 480000, 600000, 590000]
}

sales_data

{'연도': [2015, 2016, 2017, 2018, 2019, 2020],
 '판매량': [103, 70, 130, 160, 190, 230],
 '매출': [500000, 300000, 400000, 550000, 700000, 680000],
 '순이익': [370000, 190000, 300000, 480000, 600000, 590000]}

In [47]:
df = pd.DataFrame(sales_data)

In [52]:
df2 = pd.DataFrame(sales_data)

In [48]:
df

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [28]:
df.head()

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000

In [32]:
df.iloc[1]

연도       2016
판매량        70
매출     300000
순이익    190000
Name: 1, dtype: int64

In [22]:
type(df['판매량'])

pandas.core.series.Series

In [50]:
pd.DataFrame(sales_data, columns=['판매량','매출','순이익'], index=df['연도'])

      판매량      매출     순이익
연도
2015  103  500000  370000
2016   70  300000  190000
2017  130  400000  300000
2018  160  550000  480000
2019  190  700000  600000
2020  230  680000  590000

In [51]:
type(sales_data)

dict

In [54]:
type(df['연도'])

pandas.core.series.Series

In [55]:
type(df2['연도'])

pandas.core.series.Series

In [90]:
df = pd.read_csv("sales_data.csv")
df

     연도  판매량      매출      순익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018   60  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [108]:
df2= pd.read_csv("sales_data2.csv", encoding ='utf-8')

In [167]:
df2

     연도  판매량      매출      순익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018   60  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [111]:
df = pd.DataFrame(sales_data)
df

     연도  판매량      매출     순이익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018  160  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000

In [112]:
df["순이익율"] = (df['순이익']/df['매출'] * 100)

In [114]:
df["값"] = 100

In [126]:
def check(n):
    if n > 80:
        return "높음"
    else:
        return "낮음"

In [150]:
df["순이익율_비교"] = df["순이익율"].apply(lambda x :"높음" if x > 80 else "낮음")

In [151]:
df

     연도  판매량      매출     순이익       순이익율    값 순이익율_비교
0  2015  103  500000  370000  74.000000  100      낮음
1  2016   70  300000  190000  63.333333  100      낮음
2  2017  130  400000  300000  75.000000  100      낮음
3  2018  160  550000  480000  87.272727  100      높음
4  2019  190  700000  600000  85.714286  100      높음
5  2020  230  680000  590000  86.764706  100      높음

In [154]:
df[df['매출'] > 500000]

     연도  판매량      매출     순이익       순이익율    값 순이익율_비교
3  2018  160  550000  480000  87.272727  100      높음
4  2019  190  700000  600000  85.714286  100      높음
5  2020  230  680000  590000  86.764706  100      높음

In [156]:
df["테스트1"] = np.where(df["판매량"]> 200, 0, df["판매량"])

In [157]:
df

     연도  판매량      매출     순이익       순이익율    값 순이익율_비교  테스트1
0  2015  103  500000  370000  74.000000  100      낮음   103
1  2016   70  300000  190000  63.333333  100      낮음    70
2  2017  130  400000  300000  75.000000  100      낮음   130
3  2018  160  550000  480000  87.272727  100      높음   160
4  2019  190  700000  600000  85.714286  100      높음   190
5  2020  230  680000  590000  86.764706  100      높음     0

In [160]:
df["테스트2"] = df[df["판매량"] < 150]["판매량"] + 50

In [161]:
df

     연도  판매량      매출     순이익       순이익율    값 순이익율_비교  테스트1   테스트2
0  2015  103  500000  370000  74.000000  100      낮음   103  153.0
1  2016   70  300000  190000  63.333333  100      낮음    70  120.0
2  2017  130  400000  300000  75.000000  100      낮음   130  180.0
3  2018  160  550000  480000  87.272727  100      높음   160    NaN
4  2019  190  700000  600000  85.714286  100      높음   190    NaN
5  2020  230  680000  590000  86.764706  100      높음     0    NaN

In [184]:
df2.loc[8] = df2.loc[4]+10

In [186]:
df2["test"]=100

In [189]:
del df2["test"]

In [190]:
df2

     연도  판매량      매출      순익
0  2015  103  500000  370000
1  2016   70  300000  190000
2  2017  130  400000  300000
3  2018   60  550000  480000
4  2019  190  700000  600000
5  2020  230  680000  590000
6  2021  720  650000  720000
9  2021  720  650000  720000
8  2029  200  700010  600010

In [192]:
del df['테스트2']

In [193]:
del df['테스트']

KeyError: '테스트'

In [194]:
df

     연도  판매량      매출     순이익       순이익율    값 순이익율_비교  테스트1
0  2015  103  500000  370000  74.000000  100      낮음   103
1  2016   70  300000  190000  63.333333  100      낮음    70
2  2017  130  400000  300000  75.000000  100      낮음   130
3  2018  160  550000  480000  87.272727  100      높음   160
4  2019  190  700000  600000  85.714286  100      높음   190
5  2020  230  680000  590000  86.764706  100      높음     0

In [196]:
del df['값']

In [197]:
df

     연도  판매량      매출     순이익       순이익율 순이익율_비교  테스트1
0  2015  103  500000  370000  74.000000      낮음   103
1  2016   70  300000  190000  63.333333      낮음    70
2  2017  130  400000  300000  75.000000      낮음   130
3  2018  160  550000  480000  87.272727      높음   160
4  2019  190  700000  600000  85.714286      높음   190
5  2020  230  680000  590000  86.764706      높음     0

In [202]:
df.drop(['순이익율'], axis=1)

     연도  판매량      매출     순이익 순이익율_비교  테스트1
0  2015  103  500000  370000      낮음   103
1  2016   70  300000  190000      낮음    70
2  2017  130  400000  300000      낮음   130
3  2018  160  550000  480000      높음   160
4  2019  190  700000  600000      높음   190
5  2020  230  680000  590000      높음     0

In [200]:
df

     연도  판매량      매출     순이익       순이익율 순이익율_비교  테스트1
0  2015  103  500000  370000  74.000000      낮음   103
1  2016   70  300000  190000  63.333333      낮음    70
2  2017  130  400000  300000  75.000000      낮음   130
3  2018  160  550000  480000  87.272727      높음   160
4  2019  190  700000  600000  85.714286      높음   190
5  2020  230  680000  590000  86.764706      높음     0

In [205]:
df.drop(['순이익율'], axis=1, inplace=True)

In [206]:
df

     연도  판매량      매출     순이익 순이익율_비교  테스트1
0  2015  103  500000  370000      낮음   103
1  2016   70  300000  190000      낮음    70
2  2017  130  400000  300000      낮음   130
3  2018  160  550000  480000      높음   160
4  2019  190  700000  600000      높음   190
5  2020  230  680000  590000      높음     0

In [208]:
df.drop(0, inplace = True)

In [209]:
df

     연도  판매량      매출     순이익 순이익율_비교  테스트1
1  2016   70  300000  190000      낮음    70
2  2017  130  400000  300000      낮음   130
3  2018  160  550000  480000      높음   160
4  2019  190  700000  600000      높음   190
5  2020  230  680000  590000      높음     0

In [212]:
df.drop([2,3,4],inplace = True)

In [213]:
df

     연도  판매량      매출     순이익 순이익율_비교  테스트1
1  2016   70  300000  190000      낮음    70
5  2020  230  680000  590000      높음     0

In [219]:
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 4)),
                  index=[['A','A','B','B'],['a','b','a','b']],
                  columns=[['가가','가가','나나','나나'],['가','나','가','나']])

In [220]:
np.random.randint(1, 100, size=(4, 4))

array([[82, 37, 89, 63],
       [83, 90, 10, 68],
       [60, 85, 73, 25],
       [18, 27, 21, 20]])

In [221]:
df

     가가      나나
      가   나   가   나
A a  93  27   3  82
  b  67   2  56  61
B a  64  70  76  39
  b  21  94  32  84

In [222]:
df.index

MultiIndex([('A', 'a'),
            ('A', 'b'),
            ('B', 'a'),
            ('B', 'b')],
           )

In [223]:
df.columns

MultiIndex([('가가', '가'),
            ('가가', '나'),
            ('나나', '가'),
            ('나나', '나')],
           )

In [233]:
df = pd.DataFrame(np.random.randint(1, 100, size=(8, 2)),
                  index=[['A창고','A창고','A창고','A창고','B창고','B창고','B창고','B창고'],
                         ['사과','배','바나나','사과','사과','배','바나나','배']],
                  
columns=['판매','재고'])
df.index.names = ['창고명','상품명']

In [234]:
np.random.randint(1, 100, size=(8, 2))

array([[56, 70],
       [32, 83],
       [11, 57],
       [63, 16],
       [59,  6],
       [63, 53],
       [63, 39],
       [98, 24]])

In [235]:
df

         판매  재고
창고명 상품명
A창고 사과   40  13
    배    11  16
    바나나  41  26
    사과   49  63
B창고 사과   86  68
    배    25  51
    바나나  79  70
    배    27  97

In [239]:
df.groupby('창고명').sum()

      판매   재고
창고명
A창고  141  118
B창고  217  286